<div class="d-flex justify-content-center align-items-center flex-column w-100 vh-100">
    <h2 class="mb-5">Iniciar sesión</h2>
    <div class="w-75">
        <form action="/" method="POST" id="agregar-producto" class="d-flex justify-content-center align-items-center flex-column mb-5">
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario"  id="usuario" class="w-50" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="w-50" required>
            <input type="submit" class="btn btn-light mt-3" value="Ingresar">
        </form>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center w-100 vh-100">
  <div class="d-flex justify-content-center align-items-center flex-column w-50 h-50">
      <h2 class="mb-5">Agregar nuevo producto</h2>
      <div class="w-75">
          <form id="agregar-producto" class="d-flex justify-content-center align-items-center flex-column mb-5">
              <label for="title">Producto:</label>
              <input type="text" name="title"  id="title" class="w-50" required>
              <label for="price">Precio:</label>
              <input type="text" name="price" id="price" class="w-50" required>
              <label for="thumbnail">Url de la imagen:</label>
              <input type="text" name="thumbnail" id="thumbnail" class="w-50" required>
              <input type="submit" class="btn btn-light mt-3" value="Agregar producto">
          </form>
      </div>
  </div>
  <div class="d-flex justify-content-center align-items-center flex-column w-50 h-25">
    <h2 class="mb-4">Vista de productos</h2>
    
      <table class="table table-hover border w-75">
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th> 
            <th scope="col">Foto</th>
          </tr>
        </thead>
        <tbody id="tabla">
            
        </tbody>
      </table>
  </div>
</div>

<script>
  let agregarProducto = document.getElementById('agregar-producto')
  let socket = io()
  let tabla = document.getElementById('tabla')

  socket.on("init", data => {
    loadData(data)
  })

  agregarProducto.addEventListener("submit", evt => {
    evt.preventDefault()
    let title = document.getElementById('title').value
    let price = document.getElementById('price').value
    let thumbnail = document.getElementById('thumbnail').value
    productoNuevo = {
      title : title,
      price : price,
      thumbnail : thumbnail
    }
    socket.emit("nuevoProducto", productoNuevo)
  })
    
  socket.on("fillP", data => {
    let innerP = ''
      data.forEach(element => {
        innerP += `<tr>
                    <th>${element.title}</th>
                    <th>${element.price}</th>
                    <th><img src=${element.thumbnail} height="30px" width="30px" alt=""></th>
                  </tr>`
      }) 
      tabla.innerHTML = innerP
  })

</script>