<div class="d-flex justify-content-center align-items-center flex-column w-50 h-25">
  <h2 class="mb-4">Vista de productos</h2>
   
  {{#if mostrarProductos}}
    <table class="table table-hover border w-75">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Precio</th> 
          <th scope="col">Foto</th>
        </tr>
      </thead>
      <tbody id="tabla">
          {{#each mostrarProductos}}
            <tr>
              <th>{{this.title}}</th>
              <th>${{this.price}}</th>
              <th><img src={{this.thumbnail}} height="30px" width="30px" alt=""></th>
            </tr>
          {{/each}}
      </tbody>
    </table>
  {{else}}
  <div class="alert alert-warning" role="alert">
  No hay productos agregados!
  </div>
    
  {{/if}} 
</div>